/* VIEW */
.view {
  background: white;
  position: relative;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view img {
  width: 1200px;
  filter: drop-shadow(0 100px 100px #999);
  transition: all 0.5s ease;
}

/* VARIANT */
.variant {
  position: relative;
  max-width: 1200px;
  height: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.variant .thumbs {
  display: flex;
}

.variant img {
  position: relative;
  width: 600px;
  height: 550px;
}

.footer {
  position: relative;
  background: black;
  height: 300px;
}

/* PROCESS */
.thumbnail {
  background: red;
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.thumbnail .gallery {
  background: grey;
  position: relative;
  /* width: 100%; */
  height: 100%;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

.thumbnail .image {
  background: green;
  position: absolute;
  height: 100%;
}

.thumbnail .image img {
  height: 100%;
}

.thumbnail .items {
  background: khaki;
  position: relative;
  /* z-index: 999; */
}

.thumbnail .item {
  font-size: 15pt;
  margin: 20px 0;
  display: block;
}
