* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
}

.container {
  width: 100%;
}

.navbar {
  background: black;
  height: 60px;
}
/* HEADER */
.header {
  /* background: red; */
  position: relative;
  max-width: 360px;
  height: 480px;
  margin: auto;
}

.header .text {
  /* background: green; */
  position: absolute;
  z-index: 1;
  left: 30px;
  bottom: 100px;
  color: white;
}

.header .title {
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
  text-transform: uppercase;
}

.header .subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
  padding: 10px;
}

/* THUMBNAIL */
.thumbnail {
  margin: 100px auto;
  max-width: 1100px;
}

.thumbnail nav {
  display: flex;
  justify-content: center;
}

nav .items {
  display: flex;
  max-width: 720px;
  width: 100%;
  justify-content: space-between;
}

nav .items .item {
  padding: 7px 25px;
  font-size: 18px;
  font-weight: 500;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav .items .active,
nav .items .item:hover {
  color: #fff;
  background-color: #007bff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.gallery .image {
  padding: 7px;
  width: calc(100% / 4);
}

.gallery .image.hide {
  display: none;
}

.gallery .image.show {
  animation: animate 0.2s ease;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.gallery .image span {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.gallery .image img {
  width: 100%;
  height: calc(100% / 4);
  vertical-align: middle;
  object-fit: cover;
  transition: all 0.3s ease;
}

.gallery .image:hover img {
  transform: scale(1.15);
}

@media (max-width: 1000px) {
  .gallery .image {
    width: calc(100% / 3);
  }
}

@media (max-width: 800px) {
  .gallery .image {
    width: calc(100% / 2);
  }
}

@media (max-width: 700px) {
  nav .items {
    max-width: 600px;
  }

  nav .items .item {
    padding: 7px 15px;
  }
}

@media (max-width: 600px) {
  nav .items {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav .items .item {
    margin: 5px;
  }

  .gallery .image {
    width: 100%;
  }
}
