/* VIEW */
.view {
  background: white;
  position: relative;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view img {
  width: 1200px;
  filter: drop-shadow(0 100px 100px #999);
  transition: all 0.5s ease;
}

/* VARIANT */
.variant {
  position: relative;
  max-width: 1200px;
  height: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.variant .thumbs {
  display: flex;
}

.variant img {
  position: relative;
  width: 600px;
  height: 550px;
}

.footer {
  position: relative;
  background: black;
  height: 300px;
}
