* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
}

.container {
  width: 100%;
}

.navbar {
  background: black;
  height: 60px;
}
/* HEADER */
.header {
  /* background: red; */
  position: relative;
  max-width: 320px;
  height: 800px;
  margin: auto;
}

.header .text {
  /* background: green; */
  position: absolute;
  z-index: 1;
  left: 30px;
  bottom: 100px;
  color: white;
}

.header .title {
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
  text-transform: uppercase;
}

.header .subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
  padding: 10px;
}

/* THUMBNAIL */
.thumbnail {
  /* background-color: blue; */
  position: relative;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail ul {
  list-style-type: none;
  margin-left: 50px;
}
.thumbnail ul li {
}

.thumbnail ul li button {
  /* background-color: white; */
  color: white;
  font-size: 30px;
  background: none;
  border-style: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px 10px;
  margin: 10px 0;
  z-index: 999;
}

.thumbnail .thumbs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail .thumb {
  position: absolute;
  left: 0;
  top: 0;
  /* box-shadow: 0 20px 300px black; */
  /* filter: drop-shadow(0 100px 100px #222); */
  visibility: hidden;
  opacity: 0;
}
/* 
.thumbnail .thumb.active {
  visibility: visible;
  opacity: 1;
} */

.thumbnail .background {
  position: absolute;
  width: 1005;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}
