@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: black;
  position: relative;
  height: 60px;
}
.header {
  position: relative;
}

.container {
  background: rebeccapurple;
  position: relative;
  width: 320px;
  height: 720px;
  margin: auto;
}

.container .left {
  text-align: center;
  position: relative;
  top: 100px;
}

.container .right {
  background: red;

  right: 0;

  height: 600px;
}
