@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: violet;
  height: 1080px;
}

.header .container {
  background-color: red;
  width: 1200px;
  height: 100%;
  margin: auto;
}

.container .left {
  justify-content: center;
  align-items: center;
}
